<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js - Tutorial</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="view-App">
            <ol>
                    <li v-for="todo in todos">
                    {{ todo.text }}
                    </li>
            </ol>
            
             <!-- ຄໍາສັ່ງ V-model ໃຊ້ສໍາລັບການສະແດງຂໍ້ຄວາມແບບ Reatime ຜຸ້ຂໍ້ມູນໃສ່ກັນ ຕົວໃດປ່ຽນກະປ່ຽນ <input v-model="message"> -->
            <p>{{ name }}</p>
            <input v-model="name">
            <br><br>
             ເລືອກອາຫານ:
            <input type="checkbox" value="ຜັດແກງກະຫຼີ່" v-model="foods">
            <label>ຜັດແກງກະຫຼີ່</label>
            <input type="checkbox" value="ໝີ່ໄວໆ" v-model="foods">
            <label>ໝີ່ໄວໆ</label>
            <input type="checkbox" value="ລາບຂາວ" v-model="foods">
            <label>ລາບຂາວ</label>
            <br><br>
            Gender:
            <input type="radio" value="ຊາຍ" v-model="gender">
            <label>Male</label>
            <input type="radio" value="ຍິງ" v-model="gender">
            <label>Female</label>
            <br><br>
            ອາຊີບ:
            <select v-model="job">
                <option disabled>ກະລຸນາເລືອກອາຊີບຂອງທ່ານ</option>
                <option>ໂປຣແກຣມເມີ່</option>
                <option>ພໍ່ຄ້າ</option>
                <option>ນັກສຶກສາ</option>
            </select>
            <hr>
        <p>Name: {{name}}</p>
        <p>job: {{job}}</p>
        <p>age: {{age}}</p>
        <p>status: {{status}}</p>
        <p>website: <a v-bind:href="website">Click</a></p> 
        <p>ເພດ: {{gender}}</p>
        <p>ອາຊີບ: {{job}}</p>
        <p>ອາຫານທີ່ມັກ: {{foods}}</p>
        <!-- //ການດຶງຂໍ້ມູນໃສ່ ບອກ ຕ້ອງໃສ້່ keyword: V-bind:........ຕາມດ້ວຍຕົວຂໍ້ມູນເຊັ່ນ name -->

        <hr>

        <input type="text" id="name" v-on:keyup="AddCount">
        <!-- ການໃຊ້ v-on:keyup ໝາຍເຖິງການນັບເລກທີ່ປ້ອນເຂົ້າຈາກຄີບອກວ່າມີຈັກຕົວ -->
        <h1>ນັບເລກ: {{count}}</h1>
        <button type="button" name="button" v-on:click="addAge">Add</button> 
        <!-- ປົກກະຕິຈະໃຊ້ onclick="functionName()" ແຕ່ໃນ VUE js ຕ້ອງໃສ້່ v-on:click="functionName()" -->
        <button type="button" name="button" v-on:click="SubstractAge">Substract</button>
    </div>
    <script src="app.js" charset="utf-8"></script>

</body>
</html>